= simple_form_for @provider, html: { multipart: true } do |f|

  - if @provider.errors.any?
    #errors
      %p
        = pluralize(@provider.errors.count, "error")
        prohibited this provider from being saved:
      %ul
        - @provider.errors.full_messages.each do |message|
          %li= message
  .panel-body
    = f.input :org_name, input_html: { class: 'form-control' }

    .row
      .col-md-6
        %h3 Tasks
        #tasks
          = f.simple_fields_for :tasks do |task|
            = render 'task_fields', f: task
          .links
            = link_to_add_association 'Add Task', f, :tasks, class: "btn btn-default add-button"

      .col-md-6
        %h3 Contacts
        #contacts
          = f.simple_fields_for :contacts do |contact|
            = render 'contact_fields', f: contact
          .links
            = link_to_add_association 'Add Contact', f, :contacts, class: "btn btn-default add-button"            

  = f.button :submit, class: "btn btn-primary"
