= simple_form_for [@provider, @task] do |f|

  - if @task.errors.any?
    #errors
      %p
        = pluralize(@task.errors.count, "error")
        prohibited this provider from being saved:
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message

  .panel-body
    = f.input :title, input_html: { class: 'form-control' }
    = f.input :due_date, as: :string, input_html: {type: :date}
    = f.input :priority, input_html: { class: 'form-control' }



  = f.button :submit, class: "btn btn-primary"
