%h1 User Task List
#task_list	
	%table.table.table-striped
		%thead
			%tr
				%th Provider Name
				%th Task Name	
				%th Priority
				%th Due Date					
				%th User
				%th{:colspan => "4"}
		%tbody
			- @tasks.each do |task|
				%tr
					%td= link_to task.provider.org_name, task.provider
					%td= link_to task.title, provider_task_url(task.provider, task)
					%td= task.priority.priority
					%td= localize(task.due_date, :format => :short)
					%td= task.user.email
